.textboxStyle {
    margin-left: 70px;
    width: 100%;
    margin-top: 0px;
}

h2 {
    margin-left: 90px;
    font-size: 20px;
}

.custom-input {
    margin-bottom: 5px;
    height: 30px;
}

.custom-input::placeholder {
    font-size: 15px;
}

.checkbutton {
    margin-left: 43%;
    border-radius: 5%;
    font-size: 15px;
    border: 2px solid black;
}

.checkbutton:hover {
    margin-left: 43%;
    background: black;
    color: white;
}

h6 {
    margin-left: 30%;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}